.container {
	display: grid;
}

.navbar {
	grid-area: 1/1/2/4;
	display: grid;
	grid-template: 50px / auto minmax(320px, 1180px) auto;
	background-color: #717c8c;
}

.nav-wrapper {
	display: grid;
	grid-template-columns: 120px repeat(4, fit-content(150px));
	grid-column: 2/3;
	grid-gap: 50px;
	align-items: center;
}

section {
	display: grid;
	grid-area: 1/1/4/4;
	height: 100vh;
	transition: 1s;
}

.main {
	background-color: aquamarine;
	grid-template: auto 150px auto / auto minmax(320px, 1180px) auto;

}

.main-text {
	grid-row-start: 2;
	grid-column-start: 2;
}

.scills {

	background-color: burlywood
}

.portfolio {

	background-color: cornflowerblue
}

.contacts {

	background-color: darkolivegreen
}

.bottom-arrow {
	grid-column-start: 2;
	grid-row-end: 4;
	align-items: center;
	cursor: pointer;
}

.polyline {
	display: block;
	fill: none;
	stroke: black;
	stroke-width: 5;
	stroke-linecap: round;
}

.up {
	stroke: none;
}