@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template: 60px auto 90px / 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Proxima Nova Regular';
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	outline-style: none;
}

a:hover {
	color: #262c56;
	text-decoration: underline;
}

.navbar {
	grid-area: 1/1/2/2;
	display: grid;
	grid-template-columns: auto 125px 30px minmax(145px, 945px)  auto;
	grid-column-gap: 20px;
	align-items: center;
	z-index: 90;
	background-color: #767885;
}

.logo {
	grid-area: 1/2/2/3;
	align-self: end;
}

.logo img {
	width: 100%;
}

.navbar-links {
	grid-area: 1/4/2/5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 600px;
}

.navbar-links a {
	margin-right: 50px;
}

section {
	grid-area: 1/1/4/2;
	display: grid;
	grid-template-columns: auto minmax(280px, 1140px) auto;
	grid-column-gap: 20px;
	transition: 1s;
}

.section-text {
	grid-area: 2/2/3/3;
}

.main {
	grid-template-rows: 35vh auto;
	background: url("../img/avatar.jpg") no-repeat #ada592;
	background-size: auto 100%;
	background-position: calc(50vw - 480px);
	background-blend-mode: luminosity;
}

.main-title {
	font-size: 48px;
}

.main-subtitle {
	font-size: 32px;
}

.services {
	grid-template-rows: 20vh 70px 55vh auto;
	grid-template-columns: auto minmax(60vw, 800px ) auto;
	background: #92AD94;
}

.services-image {
	grid-area: 2/2/4/3;
	background: url("../img/serv-bg.svg") no-repeat #92AD94;
	background-size: contain;
	background-position: center top;
}

.services-title {
	grid-area: 2/2/3/3;
	align-self: end;
	margin: 0;
	text-align: center;
}

.services-list {
	grid-area: 3/2/4/3;
	margin: 3vh;
}

.portfolio {
	grid-template: 20vh 10vh 280px auto / auto repeat(2, minmax(240px, 481px)) auto;
	background-color: #A692AD;
}

.portfolio-title {
	grid-area: 2/2/3/4;
	text-align: center;
	text-transform: uppercase;
}

.portfolio-item {
	grid-row-start: 3;
	grid-column-start: 2;
	position: relative;
	display: flex;
	transition: 0.5s;
}

.portfolio-item:hover {
	transform: scale(1.1);
}

.item-title {
	margin: auto;
	width: 200px;
	font-size: 24px;
	cursor: pointer;
	color: white;
	background-color: rgba(33, 41, 78, 0.8);
	border-radius: 5px;
	padding: 15px;
	text-align: center;
}

.sites {
	margin-right: -65px;
	background: url("../img/land.png") no-repeat #D6D4C4;
	background-size: contain;
	background-position: -25px;
	-webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.sites .item-title {
	margin-left: 25%;
}

.practise {
	grid-column-start: 3;
	margin-left: -65px;
	background: url("../img/practise-bg.svg") no-repeat #6ac0ed;
	background-size: 80% auto;
	background-position: 80px -25px;
	-webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}

.practise .item-title {
	margin-right: 25%;
}

.polygon {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	fill-opacity: 0;
	stroke: #262C56;
	stroke-width: 10px;
	cursor: pointer;
}

.contacts {
	grid-template: 10vh auto 20vh / auto repeat(2, minmax(min-content, 320px)) auto;
	grid-column-gap: 100px;
	background: url("../img/logo.svg") no-repeat #92AD94;
	background-position: calc(50vw - 400px) 50vh;
}

.contacts-links {
	grid-area: 2/2/3/3;
}

.contacts-links p {
	text-transform: uppercase;
}

.contacts-form {
	grid-area: 2/3/3/4;
}

.partner {
	grid-area: 3/2/4/4;
	justify-self: center;
}

.input {
	display: block;
	max-width: 300px;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #262C56;
	border-radius: 5px;
	resize: none;
}

.form-button {
	cursor: pointer;
	max-width: 300px;
	color: #ffffff;
	background-color: #262C56;
}

.form-button:hover {
	
	background-color: rgba(33, 41, 78, 0.8);
}

.contacts-button {
	display: none;
	border: none;
	border-radius: 5px;
	outline-style: none;
}

.bottom-arrow {
	grid-area: 3/1/4/2;
	z-index: 90;
	display: grid;
	grid-template-rows: repeat(2, 45px);
}

.polyline {
	display: block;
	margin: 0 auto;
	fill: none;
	stroke: #262C56;
	stroke-width: 5;
	stroke-linecap: round;
	cursor: pointer;
	transition: 0.5s;
}

.up {
	display: none;
	opacity: 0;
}

.down {
	grid-row-start: 2;
}

@media (min-width: 1900px) {
	.services-list {
		margin-top: 5vh;
		margin-left: 8vw;
	}
}

@media (max-width: 1200px) {
	.main {
		background-position: calc(50% + 150px);
	}

	.main-text {
		align-self: center;
	}
}

@media (orientation: landscape) and (max-width: 900px) {
	.main-title {
		font-size: 24px;
	}

	.main-subtitle {
		font-size: 18px;
	}

	.services-image {
		display: none;
	}

	.portfolio {
		grid-template-rows: 20vh 15vh 140px auto
	}

	.portfolio-title {
		font-size: 18px;
	}

	.sites {
		margin-right: -45px;
	}

	.sites .item-title {
		margin-left: 15%;
	}

	.practise {
		margin-left: -45px;
	}

	.practise .item-title {
		margin-right: 15%;
	}

	.bottom-arrow {
		justify-self: end;
	}

	.contacts {
		grid-template: 10vh min-content 40px  auto / auto minmax(280px, 450px) auto;
		justify-items: center;
		grid-row-gap: 20px;
		background: #92AD94;
	}

	.contacts-button {
		display: block;
		grid-area: 3/2/4/3;
	}

	.contacts-form {
		display: none;
	}

	.contacts-button {
		width: 100%;
	}

	.partner {
		grid-area: 4/2/5/3;
	}

}

@media (orientation: landscape) and (max-width: 600px) {
	.partner {
		display: none;
	}
}


@media (orientation: portrait) and (max-width: 991px) {
	.main-text {
		align-self: center;
	}

	.portfolio {
		grid-template-rows: 20vh 10vh 200px auto;
		grid-template-columns: auto repeat(2, 340px) auto
	}

	.portfolio-item {
		transform: scale(1);
	}

	.portfolio-item:hover {
		transform: scale(1);
	}

	.sites {
		margin-right: -55px;
	}

	.sites .item-title {
		margin-left: 20%;
	}

	.practise {
		margin-left: -55px;
	}

	.practise .item-title {
		margin-right: 20%;
	}

	.contacts {
		grid-column-gap: 20px;
	}
}


@media (orientation: portrait) and (max-width: 768px) {
	.navbar {
		grid-gap: 20px;
	}

	.main-title {
		font-size: 24px;
	}

	.main-subtitle {
		font-size: 18px;
	}

	.portfolio {
		grid-template: 10vh 5vh 160px 160px auto / auto minmax(280px, 340px) auto;
		grid-gap: 20px;
	}

	.portfolio-title {
		grid-area: 2/2/3/3;
		font-size: 18px;
	}

	.portfolio-item {
		margin: 0;
		border: 5px solid #262C56;
		clip-path: none;
	}

	.practise {
		grid-row-start: 4;
		grid-column-start: 2;
	}

	.portfolio .item-title,
	.sites .item-title {
		margin: auto;
	}

	.polygon {
		display: none;
	}

	.contacts {
		grid-template: 15vh 30vh 40px auto / auto minmax(280px, 340px) auto;
		grid-row-gap: 30px;
		background: #92AD94;
		justify-items: center;
	}

	.contacts-links {
		font-size: 14px;
	}

	.contacts-form {
		display: none;
	}

	.contacts-button {
		display: block;
		grid-area: 3/2/4/3;
		width: 100%;
	}

	.partner {
		grid-area: 4/2/5/3;
	}
}

@media (max-width: 576px) {
	.navbar-links {
		display: none;
	}

	.services-image {
		display: none;
	}

	.services-list {
		justify-self: center;
	}
}

.modal-close {
	display: none;
}

.modal {
	display: none;
}